<!DOCTYPE html>
<html>
<body>

<h1>Hard Level Test, Each Question has 1 Mark weightage</h1>

<form method = 'GET' action="/database1">
  <h3>Q1:- LOO, MON, NOM, OOL, ____</h3>
  <input type="radio" name="q1" value="POK">
  <label>POK</label><br>
  <input type="radio" name="q1" value="HOL">
  <label>HOL</label><br>
  <input type="radio" name="q1" value="HOK">
  <label>HOK</label><br>
  <input type="radio" name="q1" value="JOI">
  <label>JOI</label><br> 


  <h3>Q2:- FXGB, HXIB, JXKB, _____, NXOB</h3>
  <input type="radio" name="q2" value="OXPB">
  <label>OKPB</label><br>
  <input type="radio" name="q2" value="KXMB">
  <label>KXMB</label><br>
  <input type="radio" name="q2" value="LXLB">
  <label>LXLB</label><br>
  <input type="radio" name="q2" value="LXMB">
  <label>LXMB</label><br> 

  <h3>Q3:- DNN, FPP, HRR, _____, LVV</h3>
  <input type="radio" name="q3" value="GRR">
  <label>GRR</label><br>
  <input type="radio" name="q3" value="GSS">
  <label>GSS</label><br>
  <input type="radio" name="q3" value="JTT">
  <label>JTT</label><br>
  <input type="radio" name="q3" value="ITT">
  <label>ITT</label><br> 

  <h3>Q4:- Find the next number in the sequence: 30, 45, 90, 225, 675</h3>
  <input type="radio" name="q4" value="1890">
  <label>1890</label><br>
  <input type="radio" name="q4" value="1745">
  <label>1745</label><br>
  <input type="radio" name="q4" value="1845">
  <label>1845</label><br>
  <input type="radio" name="q4" value="2362.5">
  <label>2362.5</label><br> 
 
  <h3>Q5:- Find the next number in the sequence: 190, 94, 46, 22, 10, 4</h3>
  <input type="radio" name="q5" value="1.5">
  <label>1.5</label><br>
  <input type="radio" name="q5" value="1">
  <label>1</label><br>
  <input type="radio" name="q5" value="0.5">
  <label>0.5</label><br>
  <input type="radio" name="q5" value="2">
  <label>2</label><br> 


  <input type="submit" value="Submit">
</form>

</body>
</html>