<!DOCTYPE html>
<html>
<body>

<h1>Medium Level Test, Each Question has 1 Mark weightage</h1>

<form method= 'GET' action="/database1">
  <h3>Q1:- The length of the base of a triangle is 4 cm smaller than the length of its    altitude. The area of the triangle is 96 cm2. The length of the base is</h3>
  <input type="radio" name="q1" value="24">
  <label>24</label><br>
  <input type="radio" name="q1" value="12">
  <label>12</label><br>
  <input type="radio" name="q1" value="16">
  <label>16</label><br>
  <input type="radio" name="q1" value="36">
  <label>36</label><br> 


  <h3>Q2:- The perimeter of an isosceles triangle is 100 cm. If the base is 36 cm, find the length of the equal sides.</h3>
  <input type="radio" name="q2" value="18">
  <label>18</label><br>
  <input type="radio" name="q2" value="64">
  <label>64</label><br>
  <input type="radio" name="q2" value="36">
  <label>36</label><br>
  <input type="radio" name="q2" value="24">
  <label>24</label><br> 

  <h3>Q3:- A triangle has an area of 615 cm2. One of its sides is given as 123 centimeters, and then what is the length of the perpendicular that is dropped on that particular side from the opposite vertex.</h3>
  <input type="radio" name="q3" value="10">
  <label>10</label><br>
  <input type="radio" name="q3" value="5">
  <label>5</label><br>
  <input type="radio" name="q3" value="0.2">
  <label>0.2</label><br>
  <input type="radio" name="q3" value="0.12">
  <label>0.12</label><br> 

  <h3>Q4:- Two sides of an isosceles triangle are 12.5 cm each while the third side is 20 cm. What is the area of the triangle?</h3>
  <input type="radio" name="q4" value="250">
  <label>250 cm^2</label><br>
  <input type="radio" name="q4" value="75">
  <label>75 cm^2</label><br>
  <input type="radio" name="q4" value="150">
  <label>150 cm^2</label><br>
  <input type="radio" name="q4" value="125">
  <label>125 cm^2</label><br> 
 
  <h3>Q5:- In an isosceles right-angled triangle, the perimeter is 20 meters.           Find its area.</h3>
  <input type="radio" name="q5" value="17.16">
  <label>17.16 m^2</label><br>
  <input type="radio" name="q5" value="5.858">
  <label>5.858 m^2</label><br>
  <input type="radio" name="q5" value="34.32">
  <label>34.32 m^2</label><br>
  <input type="radio" name="q5" value="9.320">
  <label>9.320 m^2</label><br> 


  <input type="submit" value="Submit">
</form>

</body>
</html>